<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="app">
        <header>
            <h1>Admin</h1>
            <nav>
                <a href="/" class="nav-link">REPRODUCTOR</a>
            </nav>
        </header>

        <div id="upload-section">
            <h2>Subir nueva canción</h2>
            <form id="audio-upload-form">
                <input type="file" id="audio-file" accept=".mp3" required>
                <input type="text" id="song-name" placeholder="Nombre" required>
                <input type="text" id="game-name" placeholder="Juego" required>
                <input type="number" id="upload-start-loop" placeholder="Inicio Loop">
                <input type="number" id="upload-end-loop" placeholder="Fin Loop">
                <input type="number" id="sample-rate" placeholder="Sample Rate" value="44100" min="8000" max="192000"
                    step="100" required>
                <button type="submit">Subir</button>
            </form>
        </div>

        <div id="song-list-section">
            <h2>Lista</h2>
            <div id="song-list"></div>
        </div>
    </div>

    <script src="/js/adminLoader.js"></script>
</body>

</html>